POSTGRES_USER=postgres

POSTGRES_PASSWORD=postgres

POSTGRES_ORDERS_DB=orders_db

POSTGRES_ORDERS_HOST_PORT=5433

ORDERS_SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-orders:5432/orders_db

POSTGRES_PAYMENTS_DB=payments_db
POSTGRES_PAYMENTS_HOST_PORT=5434
PAYMENTS_SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-payments:5432/payments_db

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

KAFKA_HOST_PORT=9092

API_GATEWAY_PORT=8080
ORDERS_SERVICE_PORT=8081
PAYMENTS_SERVICE_PORT=8082
